.solid-btn {
  padding: 8px 32px;
  align-items: center;

  border-radius: 4px;

  background: var(--button-bg-color);
  color: var(--button-text-color);

  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 285.714% */
  letter-spacing: 0.14px;
}

.slider-btns {
  display: flex;
  gap: 8px;

  height: 48px;
}

.slider-btn {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 14px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background: var(--slider-btn-bg);

  i {
    font-size: 20px;
    color: var(--button-bg-color);
  }
}