nav {
  margin: 24px 0 48px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .col {
      display: flex;
      gap: 24px;
    }
  }
}

.search-btn {
  padding: 7.203px;

  border-radius: 50.421px;
  // background: var(--search-btn-bg);
  // color: var(--search-btn-color);

  i {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 17.594px;
    height: 17.594px;
  }
}

.nav-links,
.sign-in-out {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }

  .nav-links,
  .sign-in-out {
    display: block;
  }

  nav {
    margin-bottom: 64px;

    button {
      color: var(--links-text-color);
      text-align: center;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 40px; /* 285.714% */
      letter-spacing: 0.14px;
    }

    .col {
      align-items: center;
    }

    .logo {
      margin-right: 24px;
    }
  
    .nav-links,
    .sign-in-out {
      display: flex;
      gap: 24px;
    }
  }
}