.search-bar {
  border: 1px solid var(--search-btn-bg);
  background: var(--search-btn-bg);
  border-radius: 50.421px;

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }

  .search {
    padding: 0 15px;
    width: 150px;
    border: none;
    outline: none;
    background: var(--search-btn-bg);
    color: var(--search-btn-color);
  }

  .submit {
    padding: 7.203px;

    border-radius: 50.421px;
    background: var(--search-btn-bg);
    color: var(--search-btn-color);

    i {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 17.594px;
      height: 17.594px;
    }
  }
}